<div class="grid grid-cols-[1fr_3fr_1fr] w-full h-10 items-center bg-main-800">
  <% if locals[:left] == 'back' %>
    <p>Back</p>
  <% end %>
  <p class="text-center text-white text-bold"><%= locals[:middle] %></p>
</div>